body{
    font-family: sans-serif;
    padding: 60px;
}

.header{
    background-color: aquamarine;
}


h1{
    text-align: center;
    color: navy;
}
h6{
    text-align: center;
    color: navy;
}
/*h5{*/
/*    text-align: right;*/
/*}*/

.date {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.container {
    background-color: aquamarine;
}

.text-center{
    color: black;
}
#my-posts{
    background-color: deeppink;
}
